.vscode
*.o

bin/
private/

/crymp
/cppmp
/gsemu
/i.*
/mail
*.env.sh
*.local.*
*.so
*.dll

src/90s/httpd/pages/*.html.hpp
src/90s/httpd/pages/*.html.cpp
src/90s/httpd/pages/*.so
src/90s/httpd/pages/*.dll